root:x:0:0:root:/root:/bin/bash
daemon:x:1:1:daemon:/usr/sbin:/usr/sbin/nologin
bin:x:2:2:bin:/bin:/usr/sbin/nologin
tongzhou:x:1000:1000:Tongzhou:/home/tongzhou:/bin/bash
alice:x:1001:1001:Alice Ng:/home/alice:/bin/bash
bob:x:1002:1002:Bob Lee:/home/bob:/bin/sh
carol:x:1003:1003::/home/carol:/usr/sbin/nologin
svc_web:x:1500:1500::/var/www:/sbin/nologin
svc_db:x:1501:1501::/var/lib/db:/sbin/nologin
dave:x:1004:1004:Dave:/home/dave:/bin/bash
